main p {
  font-weight: bolder;
}

ol~p {
  color: skyblue;
}

ol>li {
  color: coral;
  line-height: 1.4em;
  font-weight: bold;
}

footer, h1 {
  color:gold;
}

a[href] {
  color: limegreen;
  font-weight: 900;
}

li.programmer {
  color:purple;
  font-variant: small-caps;
}